<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-125/blob/main/Semana_3_Actividad_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Semana 3 - Actividad 1

##Datos generales

Semana 3 - Actividad 1

Estefania Abigail Castro Belmont A01332636

Ciencia y analítica de datos

Jobish Vallikavungal Devassia

04/10/2022

##Parte 1: Fundamentos de bases de datos

###Fundamentos de bases de datos y para ciencia de datos.

###Limpieza de datos
###Tipos de datos faltantes
###¿Cómo manejar los datos faltantes?

###Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

###Data Warehouse
Los almacenes de datos tienen una gran importancia en las empresas de la actualidad. Es ahí donde se juntan los datos de distintas fuentes (pueden ser datos relacionales, historicos, o datos que se actualizan en tiempo real) y se transforman para que finalmente puedan ser analizados utilizando SQL o herramientas visuales como Tableau. "Un almacén de datos puede considerarse la **única fuente de verdad** de una organización” (Oracle, 2022). William Inmon describió 4 características únicas de estos: 
orientados al sujeto, integrados, no volátiles y variables con el 
tiempo.

###De ETL a ELT 
La forma convencional de hacer en almacenamiento de datos era extrayendo los datos, transformándolos, generalmente por medio de una normalización que ayudara a tenerlos relacionados y estructurados y finalmente cargándolos. Sin embargo, conforme más 
información se recaba, las transformaciónes se vuelven un problema. POr ello se cambia del ETL al ELT, cambiando el orden de los procesos. Primero se cargan los datos y después se transforman. Eso se logra gracias al poder que hoy en día tienen los almacenes de datos. "Eso puede terminar siendo más simple y escalable, y aprovechando el poder de los grandes clústeres de computación que están disponibles en la actualidad" (Kane, 2017).

###Cloud Data Warehouse
Aunque los almacenes de datos tuvieron su origen en servidores locales, actualmente los almacenes en la nube tiene muchas ventajas como "flexibilidad, escalabilidad, agilidad, seguridad y costos reducidos"(Oracle, 2022). 

###Referencias

Oracle. (2022). *What is data warehouse*. Recuperado de Oracle el 02/10/2022 de: https://www.oracle.com/database/what-is-a-data-warehouse/

Kane, F. (2017). *Hands-on data science and machine learning.* Packt Publishing Ltd.

##Parte 2: Selección y limpieza de los Datos en Python

In [1]:
#importar librerías
import pandas as pd
import numpy as np

In [2]:
#importar data set
input = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"

In [3]:
#convertir a DataFrame y ver las primeras filas
df = pd.read_csv(input)
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

###Buscando datos nulos

In [4]:
#Vemos si hay datos nulos en el df
df.isnull().values.any()

True

In [5]:
#Vemos qué columnas tienen datos nulos y cuántos
sd=pd.DataFrame(df.isna().sum())
sd

      0
ID    0
X1    0
X2    1
X3    2
X4    2
X5    5
X6    3
X7    5
X8    7
X9    9
X10  16
X11  14
X12  11
X13  11
X14  13
X15  15
X16  17
X17  10
X18   8
X19   9
X20   8
X21  11
X22  11
X23   5
Y     3

In [6]:
#Porcentaje de datos faltantes
Datos_faltantes=np.sum(sd[0])
porcentaje = np.sum(sd[0])/df.shape[0]*100
Dos_porcentaje = "{:.2f}".format(porcentaje)
print("Datos faltantes:",Datos_faltantes,"\n" ,"Esto es un: ",Dos_porcentaje,"%")

Datos faltantes: 196
 Esto es un:  0.65 %

In [7]:
#Vemos la cantidad de filas y columnas del df
df.shape

(30000, 25)

In [8]:
#Creamos una copia del df
ndf=df.copy()

###Eliminando algunos datos

In [9]:
#eliminamos aquellas filas que tengan más de un 52% de datos nulos, es decir que tengan solamente 13 datos no nulos en toda la fila
ndf.dropna(thresh=(13), inplace = True)
ndf.shape

(29992, 25)

In [10]:
#Vemos la cantidad de datos nulos por columna. 
for col in ndf:
  if (ndf[col].isna().sum() != 0):
    print(col, ndf[col].isna().sum())

X5 3
X7 2
X8 4
X9 6
X10 10
X11 8
X12 3
X13 3
X14 5
X15 7
X16 9
X17 3
X18 1
X19 2
X20 1
X21 4
X22 4
X23 3
Y 1

In [11]:
#Buscamos el índice que dato nulo de la columna objetivo Y
x=ndf['Y'].isnull()
x
ndf[x]

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
6232,6233,60000,2.0,2.0,2.0,29.0,2.0,2.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Eliminamos la fila donde el dato target "Y" es nulo
ndf = ndf.drop(6232)

In [13]:
#Vemos un par de valores de la columna "X23" para después comparar nuestros resultados
x=ndf["X23"].isnull()
x
ndf[x]

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
246,247,250000,2.0,2.0,1.0,75.0,0.0,-1.0,-1.0,-1.0,...,1010.0,5572.0,794.0,1631.0,1536.0,1010.0,5572.0,NaN,NaN,0.0
247,248,100000,2.0,2.0,2.0,27.0,0.0,0.0,0.0,0.0,...,30337.0,30997.0,32904.0,1788.0,1799.0,1100.0,1150.0,2423.0,NaN,0.0

In [14]:
#Guardamos los índices de estos datos faltantes en la columna "X23"
nulos=(246,247)

In [15]:
#Hacemos una lista de las columnas que tienen datos faltantes y los contmos para
# saber cuántos son y ver si podría ser posible eliminar alguna columna
missings=[]
for col in ndf:
  if (ndf[col].isna().sum() != 0):
    print(col, ndf[col].isna().sum())
    missings.append(col)

X5 3
X7 2
X8 4
X9 6
X10 10
X11 8
X12 3
X13 3
X14 4
X15 6
X16 8
X17 2
X19 1
X21 3
X22 3
X23 2

###Reemplazando datos nulos por los valores de la mediana

In [16]:
#Como en realidad son pocos los datos faltantes de cada columna, optamos por 
#reemplazarlos con la media o mediana. Por ello creamos el siguiente DataFrame
Col=[]
Mean=[]
Median=[]
Min=[]
Max=[]
Std=[]

for col in missings:
  Col.append(col)
  Mean.append(np.mean(ndf[col]))
  Median.append(ndf[col].median(skipna=True))
  Min.append(np.min(ndf[col]))
  Max.append(np.max(ndf[col]))
  Std.append(ndf[col].std())

mis_data=pd.DataFrame(list(zip(Col,Mean,Median,Min,Max,Std)), columns=["Col","Mean","Median","Min","Max","Std"])
mis_data["Range"]=mis_data["Max"]-mis_data["Min"]
mis_data

    Col          Mean   Median       Min        Max           Std      Range
0    X5     35.483427     34.0      21.0       79.0      9.218282       58.0
1    X7     -0.133749      0.0      -2.0        8.0      1.197187       10.0
2    X8     -0.166606      0.0      -2.0        8.0      1.195961       10.0
3    X9     -0.220844      0.0      -2.0        8.0      1.169180       10.0
4   X10     -0.266435      0.0      -2.0        8.0      1.133275       10.0
5   X11     -0.291232      0.0      -2.0        8.0      1.150113       10.0
6   X12  51237.191210  22385.5 -165580.0   964511.0  73646.425254  1130091.0
7   X13  49190.970555  21205.0  -69777.0   983931.0  71184.560296  1053708.0
8   X14  47025.350152  20089.0 -157264.0  1664089.0  69360.863317  1821353.0
9   X15  43275.652326  19052.0 -170000.0   891586.0  64345.500073  1061586.0
10  X16  40324.493980  18107.0  -81334.0   927171.0  60809.984983  1008505.0
11  X17  38881.728000  17080.0 -339603.0   961664.0  59562.217735  1301267.0
12  X19   5922.640880   2009.0       0.0  1684259.0  23044.546254  1684259.0
13  X21   4827.243231   1500.0       0.0   621000.0  15669.013149   621000.0
14  X22   4800.422269   1500.0       0.0   426529.0  15281.081511   426529.0
15  X23   5217.154423   1500.0       0.0   528666.0  17780.508149   528666.0

###History of past payment

In [27]:
a=ndf["X7"].isnull()
a=ndf[a]
a
a.loc[:,"X6":"X11"]

        X6  X7  X8  X9  X10  X11
29832  0.0 NaN NaN NaN  NaN  NaN
29833 -1.0 NaN NaN NaN  NaN  NaN

In [29]:
a1=ndf["X8"].isnull()
a1=ndf[a1]
a1
a1.loc[:,"X6":"X11"]

        X6   X7  X8   X9  X10  X11
17989  0.0  0.0 NaN  0.0  0.0  0.0
18003  1.0  2.0 NaN  7.0  7.0  6.0
29832  0.0  NaN NaN  NaN  NaN  NaN
29833 -1.0  NaN NaN  NaN  NaN  NaN

In [30]:
a2=ndf["X9"].isnull()
a2=ndf[a2]
a2
a2.loc[:,"X6":"X11"]

        X6   X7   X8  X9  X10  X11
160    2.0  2.0  2.0 NaN  2.0  0.0
23990  0.0  0.0  0.0 NaN  0.0  0.0
23991  0.0  0.0  0.0 NaN  2.0  2.0
23992  0.0  0.0  0.0 NaN  0.0  0.0
29832  0.0  NaN  NaN NaN  NaN  NaN
29833 -1.0  NaN  NaN NaN  NaN  NaN

In [32]:
a3=ndf["X10"].isnull()
a3=ndf[a3]
a3
a3.loc[:,"X6":"X11"]

        X6   X7   X8   X9  X10  X11
49     0.0  0.0  0.0  0.0  NaN  0.0
233    2.0  0.0  0.0  0.0  NaN  2.0
6268   1.0  2.0  0.0  0.0  NaN  NaN
6269   1.0 -2.0 -1.0  0.0  NaN  NaN
6270   0.0  0.0  0.0  0.0  NaN  NaN
6382   1.0  2.0  0.0  0.0  NaN  NaN
6383   0.0  0.0  0.0  0.0  NaN  NaN
6384   0.0  0.0  0.0  0.0  NaN  NaN
29832  0.0  NaN  NaN  NaN  NaN  NaN
29833 -1.0  NaN  NaN  NaN  NaN  NaN

In [33]:
a4=ndf["X11"].isnull()
a4=ndf[a4]
a4
a4.loc[:,"X6":"X11"]

        X6   X7   X8   X9  X10  X11
6268   1.0  2.0  0.0  0.0  NaN  NaN
6269   1.0 -2.0 -1.0  0.0  NaN  NaN
6270   0.0  0.0  0.0  0.0  NaN  NaN
6382   1.0  2.0  0.0  0.0  NaN  NaN
6383   0.0  0.0  0.0  0.0  NaN  NaN
6384   0.0  0.0  0.0  0.0  NaN  NaN
29832  0.0  NaN  NaN  NaN  NaN  NaN
29833 -1.0  NaN  NaN  NaN  NaN  NaN

###Amput of bill statement

In [20]:
x=ndf["X12"].isnull()
x=ndf[x]
x
x.loc[:,"X12":"X17"]
#x6=pd.DataFrame(list(zip(x,x1,x2,x3,x4,x5)), columns=["Sept","Ago","Jul","Jun","May","Abr"])
#ndf[x6]

       X12  X13  X14  X15  X16      X17
18     NaN  NaN  NaN  NaN  NaN      NaN
29832  NaN  NaN  NaN  NaN  NaN  20090.0
29833  NaN  NaN  NaN  NaN  NaN  19103.0

In [19]:
x1=ndf["X13"].isnull()
x1=ndf[x1]
x1.loc[:,"X12":"X17"]

       X12  X13  X14  X15  X16      X17
18     NaN  NaN  NaN  NaN  NaN      NaN
29832  NaN  NaN  NaN  NaN  NaN  20090.0
29833  NaN  NaN  NaN  NaN  NaN  19103.0

In [23]:
x2=ndf["X14"].isnull()
x2=ndf[x2]
x2.loc[:,"X12":"X17"]

           X12      X13  X14      X15      X16      X17
18         NaN      NaN  NaN      NaN      NaN      NaN
17990  94962.0  49032.0  NaN  50269.0  29182.0  29096.0
29832      NaN      NaN  NaN      NaN      NaN  20090.0
29833      NaN      NaN  NaN      NaN      NaN  19103.0

In [22]:
x3=ndf["X15"].isnull()
x3=ndf[x3]
x3.loc[:,"X12":"X17"]

           X12      X13      X14  X15  X16      X17
18         NaN      NaN      NaN  NaN  NaN      NaN
6276   28292.0  30494.0  28317.0  NaN  NaN   1400.0
6277   58679.0  56871.0  56279.0  NaN  NaN  25453.0
6278    9777.0  10140.0   9360.0  NaN  NaN   9116.0
29832      NaN      NaN      NaN  NaN  NaN  20090.0
29833      NaN      NaN      NaN  NaN  NaN  19103.0

In [21]:
x4=ndf["X16"].isnull()
x4=ndf[x4]
x4.loc[:,"X12":"X17"]

           X12      X13      X14      X15  X16      X17
18         NaN      NaN      NaN      NaN  NaN      NaN
175    64617.0  65978.0  67282.0  68557.0  NaN  71345.0
240    21501.0  20650.0      0.0      0.0  NaN   2285.0
6276   28292.0  30494.0  28317.0      NaN  NaN   1400.0
6277   58679.0  56871.0  56279.0      NaN  NaN  25453.0
6278    9777.0  10140.0   9360.0      NaN  NaN   9116.0
29832      NaN      NaN      NaN      NaN  NaN  20090.0
29833      NaN      NaN      NaN      NaN  NaN  19103.0

In [24]:
x5=ndf["X17"].isnull()
x5=ndf[x5]
x5.loc[:,"X12":"X17"]

    X12    X13  X14  X15  X16  X17
18  NaN    NaN  NaN  NaN  NaN  NaN
38  0.0  780.0  0.0  0.0  0.0  NaN

###Amount of previous payment

In [35]:
b=ndf["X19"].isnull()
b=ndf[b]
b.loc[:,"X18":"X23"]

    X18  X19  X20     X21  X22  X23
64  0.0  NaN  0.0  2353.0  0.0  0.0

In [37]:
b1=ndf["X21"].isnull()
b1=ndf[b1]
b1.loc[:,"X18":"X23"]

        X18     X19     X20  X21     X22     X23
160  3500.0     0.0  2200.0  NaN  1200.0  1250.0
173     0.0     0.0     0.0  NaN     0.0     0.0
245  1601.0  2203.0  2114.0  NaN     NaN     0.0

In [38]:
b2=ndf["X22"].isnull()
b2=ndf[b2]
b2.loc[:,"X18":"X23"]

          X18     X19     X20     X21  X22     X23
245    1601.0  2203.0  2114.0     NaN  NaN     0.0
246    1631.0  1536.0  1010.0  5572.0  NaN     NaN
23943  3200.0  2200.0     0.0   800.0  NaN  1401.0

In [40]:
b3=ndf["X23"].isnull()
b3=ndf[b3]
b3.loc[:,"X18":"X23"]

        X18     X19     X20     X21     X22  X23
246  1631.0  1536.0  1010.0  5572.0     NaN  NaN
247  1788.0  1799.0  1100.0  1150.0  2423.0  NaN

In [ ]:
#Ahora que vemos que hay promedios que se desplazan por datos muy grandes en
#algunas columnas, optamos por poner reemplazar los datos nulos por los valores 
#de la mediana con la lista de datos faltantes que hicimos anteriormente.
#for miss_data in missings:
#  ndf[miss_data].fillna(value = ndf[miss_data].median(), inplace = True)
#ndf.isna().values.any()

In [ ]:
#checamos los nuevos valores utilizando los índices de valores nulos en la 
#columna 23
#for n in nulos:
#  print(ndf.iloc[n,23])

In [ ]:
#Vemos la cantidad de filas y columnas de nuestro DataFrame resultante
ndf.shape

##Parte 3: Preparación de los datos

1. ¿Qué datos considero mas importantes? ¿Por qué?


2. ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?


3. ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?


4. ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.


5. ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?